.friendsItem {
  padding: 40px 20px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  height: 184px;
  background: var(--white);

  display: flex;
  gap: 14px;
}

.workingHours {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  padding: 8px;
  background: var(--white2);

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--yellow);
}

.img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--placeholder);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
  display: inline-block;
}

.link {
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .friendsItem {
    width: 342px;
    height: 196px;
    gap: 16px;
    font-size: 14px;
    line-height: 129%;
  }

  .img {
    width: 90px;
    height: 90px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 130%;
  }
}

@media screen and (min-width: 1280px) {
  .friendsItem {
    width: 370px;
    gap: 20px;
  }

  .workingHours {
    font-size: 14px;
    line-height: 129%;
  }

  .contacts {
    max-width: 201px;
  }
}
