.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioGroup label {
  cursor: pointer;
}

.radioWrapper {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;

  /* color: var(--black); */

  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 30px;
  padding: 12px;
  background: var(--white);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.radioWrapper[data-selected="true"] {
  background: var(--yellow);
  color: var(--white);
}

.radioWrapper[data-selected="true"] button {
  color: var(--white);
}

.radioInput {
  display: none;
}

.clearBtn {
  width: 18px;
  height: 18px;
  color: var(--white);
  transition: opacity 0.2s ease;
}

.radioWrapper:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.radioWrapper[data-selected="true"]:hover {
  background: var(--yellow-hover);
}

@media screen and (min-width: 768px) {
  .radioGroup {
    gap: 8px;
  }

  .radioWrapper {
    font-size: 16px;
    line-height: 125%;
    gap: 8px;
  }
}
