.petsItem {
  position: relative;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  gap: 14px;
  min-height: 132px;
}

.img {
  border-radius: 50%;
  width: 90px;
  min-width: 90px;
  height: 90px;
}

.btnBasket {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  padding: 7px;
  width: 30px;
  height: 30px;
  background: var(--white2);
}

.iconBasket {
  width: 16px;
  height: 16px;
  color: var(--yellow);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
}

.descriptionBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.descriptionBlock li {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

.descriptionBlock li p {
  font-size: 10px;
  margin-bottom: 4px;
  line-height: 140%;
  color: var(--placeholder);
}

.nameText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  max-width: 153px;
  word-break: break-word;
}

@media screen and (min-width: 768px) {
  .petsItem {
    box-sizing: border-box;
    width: 305px;
    height: 149px;
    padding: 22px 16px;
  }

  .btnBasket {
    width: 32px;
    height: 32px;
  }

  .iconBasket {
    width: 18px;
    height: 18px;
  }

  .img {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }

  .title {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 12px;
  }

  .nameText {
    max-width: 173px;
  }
}

@media screen and (min-width: 1280px) {
  .petsItem {
    width: 100%;
    height: 130px;
    padding: 20px;
  }

  .btnBasket {
    width: 38px;
    height: 38px;
    top: 20px;
    right: 20px;
    padding: 10px;
  }

  .img {
    width: 90px;
    height: 90px;
    min-width: 90px;
  }

  .title {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 12px;
  }

  .nameText {
    max-width: 250px;
  }
}
