.wrapperCard {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 30px;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 18px 20px 40px 20px;
}

.btnLogOut {
  text-align: left;
  padding: 12px 28px;
  width: 114px;
}
