.filter {
  width: 100%;
  background: var(--white2);
  border-radius: 30px;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.selectRow {
  display: flex;
  gap: 12px;
}

.inputWrapper {
  position: relative;
  flex: 1;
}

.inputWrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
}

.inputCustom {
  display: flex;
  gap: 8px;
}

.icons {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
  color: var(--black);
  width: 18px;
  height: 18px;
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
  margin: 8px 0;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding: 40px;
    margin-top: 44px;
  }

  .search {
    width: 265px;
  }

  .selectRow {
    gap: 16px;
  }
}
