.modalEdit {
  display: block;
  width: 335px;
  padding: 40px 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 20px;
}

.blockPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.iconUserPhoto {
  border-radius: 100px;
  padding: 27px;
  width: 94px;
  height: 94px;
  background: var(--white2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--yellow);
  stroke-width: 2px;
  color: var(--yellow);
}

.userPhoto {
  border-radius: 100px;
  width: 94px;
  height: 94px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.input {
  border: 1px solid var(--yellow);
  border-radius: 30px;
  padding: 13px 39px 13px 12px;
  width: 100%;
}

.upload {
  width: 161px;
  height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnUpload {
  border-radius: 30px;
  padding: 12px;
  width: 126px;
  height: 42px;
  background: var(--white2);

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.iconUpload {
  width: 18px;
  height: 18px;
  stroke-width: 1.3px;
  color: var(--yellow);
  stroke: var(--yellow);
}

.saveBtn {
  margin-top: 20px;
  border-radius: 30px;
  padding: 12px 0;
  width: 100%;
  height: 42px;
  background: var(--yellow);
}

.error {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--red);
  margin-left: 12px;
  margin-top: -6px;
}
