.container {
  margin-bottom: 56px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin: 40px 79px 20px 0;
}

.tab {
  background: var(--white);
  color: var(--black);
  border-radius: 30px;
  padding: 12px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  flex: 1;
  transition: background-color 250ms;
}

.tab:hover,
.tab:focus {
  background: var(--yellow-hover);
}

.active {
  color: var(--white);
  background: var(--yellow);
}

@media screen and (min-width: 768px) {
  .tabs {
    gap: 8px;
    margin: 32px 0 38px;
  }

  .tab {
    width: 142px;
    font-size: 16px;
    line-height: 125%;
    padding: 14px 0;
    flex: none;
  }

  .list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .tabs {
    margin: 40px 0 32px;
  }

  .list {
    gap: 24px;
  }

  li.favoriteItem {
    padding: 14px 14px 24px;
    max-width: 320px;
    height: 422px;
  }

  .container {
    width: 664px;
    margin-bottom: 32px;
  }
}
