.loginForm {
  padding: 60px 20px;
  border-radius: 30px;
  background: var(--white);
  margin: 0 auto;
  margin-top: 10px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin: 12px 0 24px;
}

.wrapper {
  position: relative;
}

.loginInput {
  border: 1px solid var(--border);
  border-radius: 30px;
  padding: 12px 56px 12px 12px;
  width: 100%;
  margin-bottom: 10px;
}

.errorLogin {
  border-color: var(--red);
}

.errorPassword {
  border-color: var(--green);
}

.loginInput::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--placeholder);
}

.btn {
  margin-top: 30px;
  margin-bottom: 12px;
}

.errorLogin {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: var(--red);
  margin-top: 2px;
  margin-bottom: 6px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  stroke-width: 1.5px;
  stroke: var(--red);
  transition: opacity 0.3s ease;
}

.iconEye {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  right: 12px;
  cursor: pointer;
  stroke-width: 1.5px;
  fill: none;
  stroke: var(--yellow);
  transition: opacity 0.3s ease;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--yellow);
}

.link:hover,
.link:focus {
  color: var(--yellow-hover);
}

.error {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;

  margin-top: -4px;
  margin-bottom: 6px;
  margin-left: 12px;
}

.errorPass {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .loginForm {
    padding: 71px 0;
    border-radius: 60px;
    margin-top: 16px;
  }

  .loginWrap {
    margin: 0 auto;
    width: 424px;
  }

  .btn {
    margin-bottom: 16px;
    margin-top: 54px;
  }

  .loginInput::placeholder {
    font-size: 16px;
  }

  .description {
    font-size: 18px;
    line-height: 122%;
    margin: 16px 0 32px;
  }

  .textLink {
    text-align: center;
  }

  .error {
    font-size: 12px;
    line-height: 117%;

    margin-top: -2px;
    margin-bottom: 12px;
    margin-left: 16px;
  }

  .errorPass {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .loginForm {
    width: 592px;
    margin-top: 0;
    padding: 118px 0;
  }

  .description {
    font-size: 18px;
    line-height: 122%;
    margin: 16px 0 32px;
  }

  .loginInput {
    padding: 16px 56px 16px 16px;
    margin-bottom: 16px;
  }

  .btn {
    margin-top: 42px;
  }

  .clearIcon,
  .iconEye {
    width: 22px;
    height: 22px;
  }

  .error {
    margin-top: -12px;
  }

  .errorPass {
    margin-bottom: 0;
  }
}
