.headerContainer {
  /* max-width: 320px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  /* transition: all 0.3s ease-in-out; */
}

.homeHeader {
  padding: 0;
}

.headerNav {
  display: none;
}

.navWrapper {
  display: flex;
  gap: 12px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .navWrapper {
    gap: 16px;
    align-items: center;
  }

  .headerContainer {
    max-width: 768px;
    padding: 39px 0;
  }

  .homeHeader {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .headerNav {
    display: flex;
  }

  .headerContainer {
    max-width: 1280px;
  }

  .registerHeader {
    padding: 32px;
  }

  .homeHeader {
    padding: 0;
  }
}
