.newsItem {
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  max-width: 335px;
  height: auto;
  /* height: 454px; */
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer {
  border-radius: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  height: 178px;
}

.img {
  width: 100%;
  height: 178px;
  object-fit: cover;
  cursor: pointer;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
  /* height: 52px; */
}

.iconStar {
  width: 16px;
  height: 16px;
  fill: #ffc531;
  stroke-width: 1.2px;
  color: #ffc531;
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.popularity {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.descriptionBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 16px;
}

.descriptionBlock li {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

.descriptionBlock li p {
  font-size: 10px;
  margin-bottom: 2px;
  line-height: 140%;
  color: rgba(38, 38, 38, 0.5);
}

.name {
  max-width: 55px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.bottomContent {
  margin-top: auto;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 12px;
}

.btnBlock {
  display: flex;
  gap: 10px;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  border-radius: 30px;
  padding: 14px auto;
  width: 231px;
  /* height: 46px; */
  background: #f6b83d;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: var(--yellow-hover);
}

.btnHeart {
  border-radius: 30px;
  /* padding: 14px; */
  width: 46px;
  height: 46px;
  background: #fff4df;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconHeart {
  width: 18px;
  height: 16px;
  color: #f6b83d;
  transition: color 0.3s ease;
}

.iconHeartActive {
  color: var(--yellow-hover);
}

.btnHeart:hover .iconHeart {
  color: var(--yellow-hover);
}

@media screen and (min-width: 768px) {
  .newsItem {
    margin-bottom: 0;
    max-width: 342px;
    background: #fff;
  }

  .titleBlock {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 18px;
    line-height: 133%;
  }

  .iconStar {
    width: 16px;
    height: 16px;
    fill: #ffc531;
    stroke-width: 1.2px;
    color: #ffc531;
    margin-right: 2px;
  }

  .popularity {
    line-height: 143%;
  }

  .descriptionBlock {
    gap: 16px;
  }

  .comment {
    margin-bottom: 24px;
  }

  .price {
    font-size: 18px;
    line-height: 133%;
  }

  .btnBlock {
    display: flex;
    gap: 10px;
  }

  .btn {
    font-size: 16px;
    line-height: 125%;
    border-radius: 30px;
    padding: 14px auto;
    width: 236px;
  }

  .btnHeart {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .newsItem {
    max-width: 361px;
    height: 472px;
  }

  .iconHeart {
    height: 18px;
  }

  .imgProfile {
    display: block;
    margin-bottom: 14px;
    height: 178px;
    flex-shrink: 0;
    /* overflow: hidden; */
  }

  .imgProfile img {
    height: 100%;
    width: 100%;
  }

  .descrBlockProfile {
    margin-bottom: 14px;
    flex-wrap: nowrap;
  }

  .commentProfile {
    margin-bottom: 16px;
  }

  .btnProfile {
    padding: 12px auto;
  }

  .btnHeartProfile {
    width: 44px;
    height: 44px;
  }
}
