:root {
  --white: #fff;
  --black: #262626;
  --yellow: #f6b83d;
  --yellow-hover: #f9b020;
  --yellow-light: #fff4df;
  --yellow-dark: #fbe7c1;
  --background: #f9f9f9;

  --border: rgba(38, 38, 38, 0.15);
  --border-2: rgba(38, 38, 38, 0.2);
  --span: rgba(255, 255, 255, 0.4);
  --placeholder: rgba(38, 38, 38, 0.5);
  --backdrop: rgba(38, 38, 38, 0.3);

  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  /* display: flex; */
  /* place-items: center; */
  min-height: 100vh;
  color: var(--black);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
