.addPet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.btnAddPet {
  border-radius: 30px;
  padding: 10px 16px;
  /* width: 103px; */
  height: 38px;
  background: var(--yellow);
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
}

.iconPlus {
  stroke-width: 1.5px;
  color: var(--white);
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
    line-height: 133%;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
  }

  .btnAddPet {
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    line-height: 125%;
  }

  .iconPlus {
    stroke-width: 1.5px;
    color: var(--white);
    width: 18px;
    height: 18px;
  }
}
