.headerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.link {
  border: 1px solid var(--border);
  border-radius: 30px;
  padding: 15px 0;
  text-align: center;
  width: 119px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.linkHome {
  border-color: var(--border-3);
  color: var(--white);
}

.active,
.link:hover {
  border-color: var(--yellow);
}

.activeHome,
.linkHome:hover {
  border-color: var(--border-4);
}

@media screen and (min-width: 1280px) {
  .headerNav {
    flex-direction: row;
  }

  .link {
    padding: 15px 0;
    font-size: 16px;
    line-height: 125%;
  }
}
