.searchWrapper {
  position: relative;
  width: 100%;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.inputSearch {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  width: 100%;
  padding: 12px 50px 12px 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
}

.inputSearch ::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.clearBtn,
.searchBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
}

.searchBtn {
  right: 12px;
}

.clearBtn {
  right: 34px;
}

.clearIcon,
.searchIcon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #262626;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .searchWrapper {
    width: 230px;
    height: 48px;
    margin-top: 0;
  }

  .searchBtn {
    right: 14px;
  }

  .clearBtn {
    right: 36px;
  }

  .inputSearch {
    padding-left: 14px;
  }

  .inputSearch ::placeholder {
    font-size: 16px;
  }
}
