.searchWrapper {
  position: relative;
  /* width: 100%; */
}

.inputSearch {
  height: 42px;
  border: none;
  border-radius: 30px;
  padding: 12px 30px 12px 12px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.inputSearch::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.clearBtn,
.searchBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
}

.searchBtn {
  right: 12px;
}

.clearBtn {
  right: 34px;
}

.clearIcon,
.searchIcon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #262626;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .searchWrapper {
    /* width: 265px; */
    margin-top: 0;
  }

  .searchBtn {
    right: 14px;
  }

  .clearBtn {
    right: 36px;
  }

  .inputSearch {
    padding: 14px 32px 14px 14px;
    padding-left: 14px;
    height: 48px;
  }

  .inputSearch ::placeholder {
    font-size: 16px;
  }

  .inputSearch::placeholder {
    font-size: 16px;
    line-height: 125%;
  }
}
